{% load staticfiles %}
<html>
     <head>
		<img src="{% static 'imagens/logo.png' %}" alt="Company Logo"/>
        <title>My Blog</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	 </head>
     <body>
        <div>
		<h1>Blog do Zézinho</h1>
		{% if user.is_authenticated %}
			<a href="{% url 'post_new' %}"> Novo Post</a>
		{% endif %}
		</div>
		{% block dinamico %}
		{% endblock %}
     </body> 
</html>